@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    display: flex;
    flex-direction: column;

    
}


.padding-estrecho{
    padding: 0 300px;

}
.fixed-height{
    min-height: 500px;
    flex-shrink: 0;
}


.header, .hero, .footer{
    background-color: #1F2937;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;


}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}
.header ul{
    color: #E5E7EB;
    list-style: none;
    display: flex;
}
li{
    padding-left: 30px;
}
a, .hero p, .call p, .footer{
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}



a:active{
    color: #aeb1b9;
}

.hero{
    display: flex;
    gap: 20px;
   align-items: center;
    
}

.left-box, .cover-photo{
    flex: 1;
}

.left-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}


h1{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}


.hero p{
    font-size: 18px;
    color: #E5E7EB;
}
button{
    padding: 10px 25px;
    cursor: pointer;
}
.hero button, .call{
    background-color: #3882F6;
}

.hero button{
    border-style: none;
    color: #E5E7EB;
}

button, .call{
    border-radius: 7px;
}


.cover-photo{
    width: 100%;
}

img{
    width: inherit;
    height: 200px;
    object-fit: cover;
    object-position: bottom;
}

.section-two{
    text-align: center;
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 30px;
}

h2{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-top: 50px;
}

.cards{
    display: flex;

}
.info-cards{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 40px;
}
.icons{
    height: 150px;
    width: 150px;
    border: solid;
    border-color: #3882F6;
    border-radius: 10px;
}

.section-three{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
    padding: 0 400px;
}
.quote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    padding: 0;
    
}
.quoter{
    text-align: end;
    font-weight: 700;
}

.call{
    margin: 100px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

h3{
    color: #F9FAF8
}
.call p{
    color: #E5E7EB;
}

.call button{
    padding: 10px 25px;
    background-color: transparent;
    color: #E5E7EB;
    border-style: solid;
    border-color: #E5E7EB;
}

.footer{
    margin-top: auto;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
